body {
	background-color: beige;
}

.header {
	background-color: grey;
}

.nav {
	display: flex;
	justify-content: flex-end;
}

.nav_list {
	display: flex;
	list-style: none;
	flex-wrap: wrap;
}

.nav_item {
	margin-right: 10px;
}

.nav_img {
	width: 30px;
	height: 30px;
}

.nav_img:hover {
	transform: scale(1.2);
}

.social_list {
	display: flex;
	list-style: none;
	flex-wrap: wrap;
}

.socials {
	margin: auto;
	width: 350px;
}

.social_item:not(:last-child) {
	margin-right: 10px;
}

.social_img {
	width: 50px;
	height: 50px;
}

.social_img:hover {
	transform: scale(1.15);
}

.project_list {
	list-style: none;
}

.project_button {
	text-align: center;
	vertical-align: middle;
	background-color: grey;
}

.project_button:hover {

}
